<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block nav %}
            <a href="{{ path('home') }}">Home</a>
            <a href="{{ path('recipe_add') }}">Add new recipe</a>
            <form action="{{ path('search') }}">
                <input type="text" name="query" value="" />
                <input type="submit" value="search" />
            </form>
        {% endblock %}
        {% block flashes %}
            {% for label, messages in app.flashes(['info','warning', 'error']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
